@import org.webjars.play.WebJarsUtil

@(title: String)(content: Html)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    @webJarsUtil.locate("css/bootstrap.min.css").css()

    @webJarsUtil.locate("jquery.min.js").script()
    @webJarsUtil.locate("knockout.js").script()
    <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")"></script>

    @webJarsUtil.locate("js/bootstrap.min.js").script()

    @webJarsUtil.locate("jquery-ui-src/1.11.4/ui/widget.js").script()
    @webJarsUtil.locate("jquery-file-upload/9.10.1/js/jquery.iframe-transport.js").script()
    @webJarsUtil.locate("jquery-file-upload/9.10.1/js/jquery.fileupload.js").script()
  </head>
  <body>
    @content
  </body>
</html>
