@import org.webjars.play.WebJarsUtil

@(title: String)(content: Html)(implicit webJarsUtil: WebJarsUtil)

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    @Html(webJarsUtil.css("css/bootstrap.min.css"))

    @Html(webJarsUtil.script("1.11.3/jquery.min.js"))
    @Html(webJarsUtil.script("knockout.js"))
    <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")"></script>

    @Html(webJarsUtil.script("js/bootstrap.min.js"))

    @Html(webJarsUtil.script("jquery-ui-src/1.11.4/ui/widget.js"))
    @Html(webJarsUtil.script("jquery-file-upload/9.10.1/js/jquery.iframe-transport.js"))
    @Html(webJarsUtil.script("jquery-file-upload/9.10.1/js/jquery.fileupload.js"))
  </head>
  <body>
    @content
  </body>
</html>
